* {
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  margin: 0%;
  height: 100vh;
}


.Toolbar {
  background: #b3dfe5;
  width: 100vw;
  padding: 1.2rem 0.6rem;
}

.Name {
  display: inline-block;
}
.brand-name {
  margin: 0%;
  display: inline-block;
  color: #303c6c;
  font-weight: bold;
  font-size: 1.8rem;
  vertical-align: middle;
}
.Login {
  display: inline-block;
  width: calc(100% - 10.3rem);
  text-align: right;

}
.Login a {
  text-decoration: none;
  color: #303c6c;
  font-size: 1.5625rem;
  vertical-align: middle;
  background: #f4976c;
  border-radius: 6px;
  padding: 0.325rem 0.165rem;

}

.Login a:hover,
.Login a:active {
  color: #d2fdff;
  border: 2px solid  #303c6c;
}

.Game {
  margin-top: 1rem;
  height: calc(100% - 2rem - 4.625rem);
  width: 100vw;
}

.main-game-piece {
  width: calc(96%/2 - 2px);
  background: #fbe8a6;
  display: inline-block;
  text-align: center;
  height: 100%;
  
}

.Quiz {
  margin-right: 2%;
}

.Map {
  margin-left: 2%;
}



