* {
  box-sizing: border-box;
}
*[disabled] {
  pointer-events: none !important;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  /* --page-height: 1vh; */
  --page-width: 100%;
}
html {
  height: 100vh;
  -ms-overflow-style: none;
}
body {
  margin: 0%;
  height: 100%;
  width: 100vw;
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-around;
}
button {
  border: none;
  color: #387341;
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.18);
}
button:hover {
  background-color: #5ba66e;
  transition: 220ms all ease-in-out;
}
button:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 2px #cef2d7;
  transition: 1s all ease;
}
.Toolbar {
  background: #387341;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.Name {
  margin-left: 1rem;
}
.brand-name {
  margin: 0%;
  color: #05f240;
  font-weight: bold;
  font-size: 1.8rem;
}


.Game {
  height: 85%;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Quiz {
  text-align: center;
  height: 100%;
  width: 38%;
}

.Quiz-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Quiz-title {
  background-color: #387341;

  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Quiz-title_header {
  margin: 0%;
  color: antiquewhite;
  border-bottom: antiquewhite solid 2px;
}
.Quiz-tests {
  background-color: #387341;

  height: 76%;
  overflow: auto;
  color: antiquewhite;
}
.Quiz-tests_test {
  border-bottom: antiquewhite solid 1px;
  display: flex;
}
fieldset {
  margin: 0;
  border: none;
  padding: 0%;
}
.Quiz-tests_test-question {
  text-align: left;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 80%;
}
.Quiz-tests_test-question-text {
  padding: 0.5rem;
}

.Quiz-tests_test-question-text h3 {
  margin: 0;
}
.Quiz-tests_test-answer {
  padding: 0.2rem;
}
.Quiz-tests_test-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.Quiz-control {
  background-color: #387341;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Quiz-control-done {
  margin: 0%;
}

.Quiz-control-go {
  margin: 0%;
}
.Quiz-control-total {
  color: antiquewhite;
  margin: 0%;
}
.Quiz-control-total h2 {
  margin: 0%;
}
.Map {
  height: 100%;
  width: 58%;
}

@media screen and (max-width: 400px) {
  html {
    height: 100vh;
    height: calc(var(--page-height, 1vh) * 100);    
  }
  .Game {
    height: 85%;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .Quiz {
    text-align: center;
    width: 100%;
    order: 2;
  }
  .Map {
    width: 100%;

  }
}

